<!DOCTYPE html>
<html>


<head>

<style>

.jumbotron {
  background-image: asset-url('new_cover_page.png');
  background-size: cover;
  height: 550px;
}

</style>
</head>


<body>
  
  <h1>Alpha Blog</h1>


<%= link_to 'About', about_path %>  

</body>
</html>

